.avatar {
    max-width: 100px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(58, 99, 99);
    font-size: larger;
}

body{
    margin: 0px;
    font-family: Helvetica;
    background-color: rgb(29, 29, 29);
    color: white;
}

main{
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 2%;
}

.logging {
    float: right;
}

.songlist{
    padding-top: 20x;
    padding-bottom: 20x;
}

a {
    color: lightblue;
}

.Home {
    justify-items: left;
}

.HomeDiv {
    width: 80%;
    background-color: rgb(42, 52, 68);
    padding-top: 5px;
    padding-left: 1%;
    padding-bottom: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.HomeList {
    padding-left: 10px;
}

.ResultsDiv {
    width: 80%;
    background-color: rgb(42, 52, 68);
    padding-top: 5px;
    padding-left: 1%;
    padding-bottom: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}